<p id="notice"><%= notice %></p>

<div id="ticker">
  <div id="ticker-wrapper">
    <ul id="ticker-wrapper-inner">
      <div class="row">
        <% @posts.each do |post| %>
          <div class="col s2 m4 l4 xl4">
            <li>
              <div class="card z-depth-2">
                <div class="card-content">
                  <div class="row" style="padding-top: 30px;">
                    <div class="col s3 m3 l3 xl3">
                      <%=  image_tag(profile_image_url(post), style: 'height: 150px; width: 170px;') %>
                    </div>
                    <div class="col s2 m2 l2 xl2">
                    </div>
                    <div class="col s7 m7 l7 xl7">
                      <strong>@<%= post[:handle] %></strong>
                      <p><%= parsed_post post[:data] %></p>
                      <br>
                      <p><%= post[:data].created_at.in_time_zone('Eastern Time (US & Canada)').to_s(:humanized_ago) %></p>
                    </div>
                  </div>
                </div>
                <!-- <div class="card-action">
                  <p id="tweet_icons"><i class="fa fa-retweet"></i> <%= post[:data].retweet_count %></p>
                  <p id="tweet_icons"><i class="fa fa-heart"></i> <%= post[:data].favorite_count %></p>
                </div> -->
              </div>
            </li>
          </div>
        <% end %>
      </div>
    </ul>
  </div>
</div>