<p id="notice"><%= notice %></p>

<h1>Latest Twitter Posts</h1>

<%= link_to 'New Twitter Post', new_twitter_post_path, class: 'button' %>

<table>
  <thead>
    <tr>
      <th></th>
      <th colspan="3"></th>
    </tr>
  </thead>
</table>


<% @twitter_posts.fetch_image.each do |tweet| %>
  <%= image_tag(tweet.media[0]["media_url"], :size => tweet.media[0]["sizes"]["small"]) if(tweet.media.present?) %>
<% end %> 

<div id="ticker">
  <div id="ticker-wrapper">
    <ul id="ticker-wrapper-inner">
      <% @posts.each do |post| %>
        <li>
          <blockquote class="twitter-tweet" lang="en">
            <p>@<%= post[:handle] %></p>
            <p><%= parsed_post post[:data] %></p>
            <br>
            <p><%= post[:data].created_at.in_time_zone('Eastern Time (US & Canada)').to_s(:humanized_ago) %></p>
            <p id="tweet_icons"><i class="fa fa-retweet"></i> <%= post[:data].retweet_count %></p>
            <p id="tweet_icons"><i class="fa fa-heart"></i> <%= post[:data].favorite_count %></p>
          </blockquote>
        </li>
      <% end %>
    </ul>
  </div>
</div>