<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @twitter_post.name %>
</p>

<p>
  <strong>Twitter Handle:</strong>
  <%= @twitter_post.twitter_handle %>
</p>

<p>
  <strong>Description:</strong>
  <%= @twitter_post.description %>
</p>


<%= link_to 'Edit', edit_twitter_post_path(@twitter_post) %> |
<%= link_to 'Back', twitter_posts_path %>
