<!DOCTYPE html>
<html>
  <head>
    <title>FsClientFollower</title>
    <%= csrf_meta_tags %>
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/base-min.css">
    <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/grids-min.css">
    <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/grids-responsive-old-ie-min.css">
  <![endif]-->
  <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/base-min.css">
    <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/grids-min.css">
    <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/grids-responsive-min.css">
  <!--<![endif]-->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<%= render 'layouts/navigation' %>
    <%= yield %>
  </body>
</html>
